body {
    font-family: Arial, sans-serif;
}
form {
    width: 300px;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type="date"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}