/* body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    padding: 70px 0;
  }
  
  footer {
    margin-top: auto;
  }
  
  h1 {
    padding-left: 50px;
    margin-bottom: 20px;
  }
  
  .contact-info {
    padding-left: 50px;
  }
  
  .contact-form {
    width: 100%;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    margin-top: 15px;
    padding: 6px 12px;
  }
  
  .contact-form textarea {
    height: 70px;
  }
  
  .contact-form button {
    margin-left: auto;
    display: block;
    border-radius: 3px;
    border: none;
    background-color: gray;
    color: white;
    padding: 5px 25px;
    margin-top: 15px;
  }
  
  @media screen and (max-width: 1199px) {
    h1,
    .contact-info {
      padding-left: 0;
    }
  }
   */