.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    height: 70vh;
  }
  
  .form-wrapper {
    width: 400px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-left: 35%;
    padding: 20px;
  }
  
  .table-wrapper {
    /* width: 600px; */
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
  }
  